
body{
    background-color: white
    
} 
.bloque1{
 background-color: #cccc
}
p{ 
    text-align: center;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}


.menu{
   
}


.items{
    font-style: italic;
}